In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("../outputs/Coolie_seat_count.csv")

In [28]:
df.head()

,row_index,theater,location,date,time,url,reserved_count,available_count,reserved_seats,available_seats
0,0,Harkins_Arizona_Mills_and_IMAX_Add_to_favorite...,"5000_Arizona_Mills_Circle,_Tempe,_AZ_85282",unknown,5:30p,https://tickets.fandango.com/transaction/ticke...,41,104,"[""Seat: B2 - This seat is unavailable."", ""Seat...","[""Seat: A16 - This seat is available."", ""Seat:..."
1,0,Harkins_Arizona_Mills_and_IMAX_Add_to_favorite...,"5000_Arizona_Mills_Circle,_Tempe,_AZ_85282",unknown,9:15p,https://tickets.fandango.com/transaction/ticke...,16,129,"[""Seat: B2 - This seat is unavailable."", ""Seat...","[""Seat: A16 - This seat is available."", ""Seat:..."
2,0,Harkins_Arizona_Mills_and_IMAX_Add_to_favorite...,"5000_Arizona_Mills_Circle,_Tempe,_AZ_85282",unknown,5:30p,https://tickets.fandango.com/transaction/ticke...,46,165,"[""Seat: B1 - This seat is unavailable."", ""Seat...","[""Seat: A1 - This seat is available."", ""Seat: ..."
3,0,Harkins_Tempe_Marketplace_16_Add_to_favorite_t...,"2000_E._Rio_Salado_Parkway,_Tempe,_AZ_85281",unknown,5:30p,https://tickets.fandango.com/transaction/ticke...,18,215,"[""Seat: D21 - This seat is unavailable."", ""Sea...","[""Seat: A1 - This seat is available."", ""Seat: ..."
4,0,Cinemark_Mesa_16_Add_to_favorite_theaters,"1051_N._Dobson_Rd.,_Mesa,_AZ_85201",unknown,4:30p,https://tickets.fandango.com/transaction/ticke...,19,105,"[""Seat: F10 - This seat is unavailable."", ""Sea...","[""Seat: A16 - This seat is available."", ""Seat:..."

In [29]:
df.shape, df.columns

((72, 10),
 Index(['row_index', 'theater', 'location', 'date', 'time', 'url',
        'reserved_count', 'available_count', 'reserved_seats',
        'available_seats'],
       dtype='object'))

In [33]:
unique_combinations = df.drop_duplicates(subset=["theater", "time", "location"])
unique_combinations_df = pd.DataFrame(unique_combinations)

In [34]:
unique_combinations_df.shape

(23, 10)